h1 {
	background-color: greenyellow;
	text-align: center;
	padding: 80px;
}
nav {
	overflow: hidden;
	background-color:black ;
}

nav a {
	padding: 14px 20px;
	color: white;
	/*display: block;*/
	text-decoration: none;
}
nav a:hover {
	background-color: #DDD;
	color: black;
}
nav a.menu_left {
	float: left;
}
nav a.menu_right {
	float: right;
}

#left_side {
	flex: 30%;
	background-color: #DDD;
	padding: 10PX;
}
#right_side {
	flex: 70%;
	padding: 10PX;
}
#flex_container {
	display: flex;
}

.item_one {
	text-align: center;
	flex: 33%;
}
#dung_cu_bep {
	display: flex;
	flex-wrap: wrap;
}

.bst {
	width: 90%;
}

.title {
	color: red;
	font-size: 150%;
	font-weight: bold;
}
.des {
	margin: 5px 10px 10px 10px;
	background-color: #DDD;
}
div.buy:hover {
	font-weight: bold;
	background-color: darkseagreen;
}

.item_two {
	text-align: center;
	flex: 33%;
}
#do_dung_ca_nhan {
	display: flex;
	flex-wrap: wrap;
}

.item_three {
	text-align: center;
	flex: 33%;
}
#do_choi {
	display: flex;
	flex-wrap: wrap;
}
#bep {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}
#ca_nhan {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}
#choi {
	font-size: 300%;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 600px) {
	#left_side {
		flex: 100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
	}
}